<p id="notice"><%= notice %></p>

<h1>Listing Workouts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th>Diff</th>
      <th>Start time</th>
      <th>End time</th>
      <th>S1 type</th>
      <th>S1 dis</th>
      <th>S2 type</th>
      <th>S2 dis</th>
      <th>S3 type</th>
      <th>S3 dis</th>
      <th>S4 type</th>
      <th>S4 dis</th>
      <th>S5 type</th>
      <th>S5 dis</th>
      <th>S6 type</th>
      <th>S6 dis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.name %></td>
        <td><%= workout.level %></td>
        <td><%= workout.diff %></td>
        <td><%= workout.start_time %></td>
        <td><%= workout.end_time %></td>
        <td><%= workout.s1_type %></td>
        <td><%= workout.s1_dis %></td>
        <td><%= workout.s2_type %></td>
        <td><%= workout.s2_dis %></td>
        <td><%= workout.s3_type %></td>
        <td><%= workout.s3_dis %></td>
        <td><%= workout.s4_type %></td>
        <td><%= workout.s4_dis %></td>
        <td><%= workout.s5_type %></td>
        <td><%= workout.s5_dis %></td>
        <td><%= workout.s6_type %></td>
        <td><%= workout.s6_dis %></td>
        <td><%= link_to 'Show', workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout', new_workout_path %>
