<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workout.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @workout.level %>
</p>

<p>
  <strong>Diff:</strong>
  <%= @workout.diff %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @workout.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @workout.end_time %>
</p>

<p>
  <strong>S1 type:</strong>
  <%= @workout.s1_type %>
</p>

<p>
  <strong>S1 dis:</strong>
  <%= @workout.s1_dis %>
</p>

<p>
  <strong>S2 type:</strong>
  <%= @workout.s2_type %>
</p>

<p>
  <strong>S2 dis:</strong>
  <%= @workout.s2_dis %>
</p>

<p>
  <strong>S3 type:</strong>
  <%= @workout.s3_type %>
</p>

<p>
  <strong>S3 dis:</strong>
  <%= @workout.s3_dis %>
</p>

<p>
  <strong>S4 type:</strong>
  <%= @workout.s4_type %>
</p>

<p>
  <strong>S4 dis:</strong>
  <%= @workout.s4_dis %>
</p>

<p>
  <strong>S5 type:</strong>
  <%= @workout.s5_type %>
</p>

<p>
  <strong>S5 dis:</strong>
  <%= @workout.s5_dis %>
</p>

<p>
  <strong>S6 type:</strong>
  <%= @workout.s6_type %>
</p>

<p>
  <strong>S6 dis:</strong>
  <%= @workout.s6_dis %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
